<div class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <img src="/assets/logo-big.png" alt="" /> 
  </div>
  <!-- END LOGO -->
  <div class="content">
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <div class="" >
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>	
        <h3 class="">Forget Password ?</h3>
        <p>Enter your e-mail address below to reset your password.</p>
        <div class="control-group">
          <div class="controls">
            <div class="input-icon left">
              <i class="icon-envelope"></i>
              <%= f.email_field :email, :class => "m-wrap placeholder-no-fix", :placeholder => "Email" %>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button type="button" id="back-btn" class="btn">
            <i class="m-icon-swapleft"></i> Back
          </button>
          <%= f.submit "Submit", :class => "btn green pull-right"%>
          <i class="m-icon-swapright m-icon-white"></i>            
        </div>
      <% end %>
    </div>      
    <!-- END FORGOT PASSWORD FORM -->      
    <%= render "devise/shared/links" %>
  </div>  
</div>  
