<div class="tab-pane active borderedProfile" id="portlet_tab1">
  <% @campaigns.each do |campaign| %>
    <div class="row-fluid profile">
      <div class="span12">
        <div class="tab-pane row-fluid active" id="tab_1_1">

          <ul class="unstyled profile-nav span3">
            <li>
              <%= image_tag campaign.campaign_images.first.campimage_url rescue '' %>
            </li>
            <li><a href="#">CALLS FOREVER <span class="littleSpan"><%=campaign.campaign_stat.total_calls_made_count_life rescue 0 %></span></a></li>
            <li><a href="#">CALLS TODAY <span class="littleSpan yellow"><%=campaign.campaign_stat.total_calls_made_count_today rescue 0 %></span></a></li>
            <li><a href="#">CALLS IN PROGRESS <span class="littleSpan mauve"><%=campaign.campaign_stat.calculated_calls_in_progress rescue 0 %></span></a></li>
            <li><a href="#">TOTAL DONATIONS <span class="littleSpan green"><%=campaign.campaign_stat.number_donations_life rescue 0 %></span></a></li>
          </ul>

          <div class="span9">
            <div class="row-fluid">
              <!-- mid section begin -->            
              <div class="span8 profile-info">
                <h1><%=campaign.name %></h1>
                <div id="jquery_jplayer_<%=campaign.id%>" class="cp-jplayer"></div>
                <div class="prototype-wrapper" style="margin-left:-24px; float:left; width:150px; height:20px;">
                  <div id="cp_container_<%=campaign.id%>" class="cp_container">
                    <ul class="cp-controls b" style="padding: 1px 0 0 24px;">
                      <li><a class="cp-play p" style="display: block;" tabindex="1">play</a></li><!-- go up to line 42 and you'll see how jplayer works to display the mp3 by creating different cp_container_1,2,3,4 definitions, use transcript_audio_file.campaigns for this one -->
                      <li><a class="cp-pause ph" style="display:none;" tabindex="1">pause</a></li> <!-- Needs the inline style here, or jQuery.show() uses display:inline instead of display:block -->
                    </ul>
                  </div>
                </div>
                <%= campaign.transcript_text rescue "" %>
                <p><a href="#">www.mywebsite.com</a></p>
                <ul class="unstyled inline">
                  <li><i class="icon-calendar"></i> <%= campaign.campaign_start_date_time.strftime("%d %b %Y") rescue '' %></li>
                  <li><i class="icon-map-marker"></i> <%= campaign.category.name  rescue ''%></li>
                  <li><i class="icon-map-marker"></i> <%= campaign.campaign_type.name  rescue ''%></li>
                  <li>
                    <span class="rating" style="vertical-align: middle;">
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                      <span class="star"></span>
                    </span>
                  </li>
                </ul>

                <div class="portlet-body">
                  <div class="row-fluid">
                    <a href="#" class="icon-btn span3">
                      <i class="icon-comments"></i>
                      <div>Comments</div>
                      <span class="badge badge-important">2</span>
                    </a>
                    <a href="#" class="icon-btn span3">
                      <i class="icon-play-circle"></i>
                      <div>Play Recordings</div>
                      <span class="badge badge-success">4</span>
                    </a>
                    <a href="#" class="icon-btn span3">
                      <i class="icon-plus-sign"></i>
                      <div>Call A Friend</div>
                    </a>
                    <a href="#" class="icon-btn span3">
                      <i class="icon-money"></i>
                      <div>Donate Now</div>
                      <span class="badge badge-success">4</span>
                    </a>
                  </div>
                 
                  <div class="row-fluid">
                    <a href="#" class="icon-btn span3">
                      <i class="icon-facebook-sign"></i>
                      <div>Facebook Like</div>
                      <span class="badge badge-info">12</span>
                    </a>
                    <a href="#" class="icon-btn span3">
                      <i class="icon-twitter-sign"></i>
                      <div>Twitter Share</div>
                      <span class="badge badge-info">12</span>
                    </a>
                    <a href="#" class="icon-btn span3">
                      <i class="icon-map-marker"></i>
                      <div>Geographical Data</div>                     
                    </a>
                    <a href="#" class="icon-btn span3">
                      <i class="icon-bar-chart"></i>
                      <div>Reports & Charts</div>
                    </a>
                  </div>
                </div><!-- end portlet-body -->
                  
              </div><!--end span8-->

              <div class="span4"><!-- right most section-->
                <div class="portlet sale-summary">
                  <div class="portlet-title" style="background: #fff !important;">
                    <h4>CALLS STATICS
                      <div class="tools">
                        <div class="btn-group pull-right" data-toggle="buttons-radio">
                          <a href="javascript:;" class="btn mini">Today</a>
                          <a href="javascript:;" class="btn mini active">Forever</a>
                        </div>
                      </div>
                    </h4>                            
                  </div>

                  <ul class="unstyled">
                    <li class="firstLi"></li>
                    <li>
                      <span class="sale-info">Calls Remaining <i class="icon-plus"></i></span>
                      <span class="sale-num"><%=campaign.campaign_stat.dialable_leads rescue 0 %></span>
                    </li>
                    <li>
                      <span class="sale-info">Answered </span>
                      <span class="sale-num"><%=campaign.stats_custom_by_code("PU","calls_today") rescue 0 %> </span>
                    </li>
                    <li>
                      <span class="sale-info">Interested</span>
                      <span class="sale-num">
                        <% if campaign.stats_custom_by_code("SVYEXT","calls_today") > 0 %>
                           <%=campaign.stats_custom_by_code("SVYEXT","calls_today") %>
                        <% elsif campaign.stats_custom_by_code("SVYREC","calls_today") > 0 %>
                           <%=campaign.stats_custom_by_code("SVYREC","calls_today") %>
                        <% elsif campaign.stats_custom_by_code("SVYCLM","calls_today") > 0 %>
                           <%=campaign.stats_custom_by_code("SVYCLM","calls_today") %>
                        <% end %>
                      </span>
                    </li>
                    <li>
                      <span class="sale-info">Transferred</span>
                      <span class="sale-num"><%= campaign.campaign_stat.transferred_count rescue 0 %><!--transferred_count_.campaign_stats--></span>
                    </li>
                    <li>
                      <span class="sale-info">Recorded</span>
                      <span class="sale-num"><%=campaign.campaign_stat.recording_count rescue 0 %></span>
                    </li>
                    <li>
                      <span class="sale-info">Left Message</span>
                      <span class="sale-num">
                        <%= campaign.stats_custom_by_code("AL","calls_today") + campaign.stats_custom_by_code("AL","calls_today") %>
                      </span>
                    </li>
                    <li>
                      <span class="sale-info">No Answer</span>
                      <span class="sale-num"><%=campaign.campaign_stat.no_answer_calls_count_life rescue 0 %></span>
                    </li>
                  </ul>
                 
                </div>
              </div><!--end span4-->
          
            </div><!--end row-fluid-->
          </div><!--end span9-->
        </div><!-- end tab pane-->
      </div><!--end span12-->
    </div><!-- row-fluid profile-->
  <% end %><!--end campaign loop -->
</div><!--end portlet_tab1-->

<div class="tab-pane" id="portlet_tab2">
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
  </p>
  <p>
    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
  </p>
</div>

<div class="tab-pane" id="portlet_tab3">
  <p>
    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
  </p>
  <p>
    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  </p>
</div>
