  <h6>Name : <%= link_to @campaign.name, campaign_path(@campaign) rescue "" %></h6>
  <h6><%= @campaign.campaign_start_date_time rescue "" %></h6>
  <h6><%= @campaign.campaign_end_date_time rescue "" %></h6>
  <h6><%= @campaign.shortdescription rescue "" %></h6>
  <% if @campaign.campaign_images %>
    <h6> Campaign Images: </h6>
    <% @campaign.campaign_images.each do |img| %>
      <%= image_tag img.campimage_url(:thumb) %><br />
    <% end %>
  <% end %>
  <% if @campaign.campaign_stat %>
    <h6> Campaign Stats: </h6>
    <% @campaign.campaign_stat do |stat| %>
      <h6> Dialable Leads : <%= stat.dialable_leads rescue ""%></h6>
      <h6> Dialable Leads : <%= stat.calls_in_progress rescue ""%></h6>
    <% end %>
  <% end %>